[submodule "src/VirtualKeyboard"]
	path = src/VirtualKeyboard
	url = git@github.com:nackee/VirtualKeyboard.git
[submodule "VirtualKeyboard"]
	path = VirtualKeyboard
	url = git@github.com:nackee/VirtualKeyboard.git
