Source: kylin-screensaver
Section: x11
Priority: optional
Maintainer: Ubuntu Kylin Team <ubuntukylin-members@lists.launchpad.net>
Uploaders: Mike Gabriel <sunweaver@debian.org>,
           John Paul Adrian Glaubitz <glaubitz@physik.fu-berlin.de>,
           Stefano Karapetsas <stefano@karapetsas.com>,
           Vangelis Mouhtsis <vangelis@gnugr.org>,
	   Hao Li <lihao@kylinos.cn>,
Build-Depends: debhelper (>= 9),
               dpkg-dev (>= 1.16.1.1),
               intltool,
               libdbus-glib-1-dev,
               libdconf-dev,
               libgl1-mesa-dev | libgl1-mesa-swx11-dev,
               libglib2.0-dev,
               libgtk-3-dev,
               libkylin-desktop-dev (>= 1.16),
               libkylin-menu-dev (>= 1.16),
               libkylinkbd-dev (>= 1.16),
               libnotify-dev,
               libpam0g-dev,
               libstartup-notification0-dev,
               libsystemd-dev [linux-any],
               libx11-dev,
               libxext-dev,
               libxss-dev,
               libxt-dev,
               libxxf86vm-dev,
               kylin-common (>= 1.16),
               x11proto-scrnsaver-dev,
               x11proto-xext-dev,
               x11proto-xf86vidmode-dev,
               xmlto,
Standards-Version: 3.9.8
Homepage: http://www.ukui.org/

Package: kylin-screensaver
Architecture: any
Depends: dbus-x11,
         kylin-desktop-common,
         kylin-screensaver-common (= ${source:Version}),
         kylin-session-manager (>= 1.11.0),
         ${misc:Depends},
         ${shlibs:Depends},
Recommends: kylin-power-manager,
Suggests: rss-glx,
          xscreensaver-data,
Breaks: kylin-screensaver-common (<< 1.9.0),
Replaces: kylin-screensaver-common (<< 1.9.0),
Description: KYLIN screen saver and locker
 kylin-screensaver is a screen saver and locker that aims to have simple,
 sane and secure defaults, and be well integrated with the KYLIN desktop.
 .
 It is designed to support, among other things:
 .
  * the ability to lock down configuration settings
  * translation into other languages
  * user switching

Package: kylin-screensaver-common
Architecture: all
Depends: ${misc:Depends},
Breaks: kylin-screensaver (<< 1.5.2),
Description: KYLIN screen saver and locker (common files)
 kylin-screensaver is a screen saver and locker that aims to have simple,
 sane and secure defaults, and be well integrated with the KYLIN desktop.
 .
 This package contains the architecture independent files.

